
@{
    ViewBag.Title = "_Detail";
    if (ViewBag.username == null && ViewBag.password == null)
    {
        <script>
            alert("please sign in first");
            location.href = "/";
        </script>
    }
}

<h2>_Detail</h2>

<script>
    function test() {
        var samplePersonObject = {
            from: "from",
            to: "to",
            split: "split",
            symbols: ["symbol_1", "symbol_2"]
        };

        var jsonSerialized = JSON.stringify(samplePersonObject);

        $.ajax({
            type: "POST",
            url: "/home/savePortfolioDetail",
            dataType: "json",
            contentType: "application/json",
            data: jsonSerialized,
            success: function (result) {
                console.log(result); //log to the console to see whether it worked
            },
            error: function (error) {
                alert("There was an error posting the data to the server: " + error.responseText);
            }
        });
        return false;
    }
</script>
<input type="button" onclick="return test()" value="ajax" />

<h4>can get username : @ViewBag.username</h4>
<h4>can get password : @ViewBag.password</h4>