
@{
    ViewBag.Title = "Portfolio";
    if (ViewBag.username == null && ViewBag.password == null)
    {
        <script>
            alert("please sign in first");
            location.href = "/";
        </script>
    }
}

<h2>@ViewBag.Title</h2>
<h4>can get username : @ViewBag.username</h4>
<h4>can get password : @ViewBag.password</h4>

<script>
    function askAllPortfolioObjects() {

        $.ajax({
            type: "POST",
            url: "/home/readPortfolio",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result); //this result will be a signle json object which contain '''errmsg''' or 
            },
            error: function (error) {
                alert("There was an error posting the data to the server: " + error.responseText);
            }
        });
        return false;
    }
</script>
<input type="button" onclick="return test()" value="ajax" />
<input type="button" onclick="location.href='/home/summary'" value="summary" />
<input type="button" onclick="location.href='/home/detail'" value="detail" />