@{
    ViewBag.Title = "Summary";
    if (ViewBag.username == null && ViewBag.password == null)
    {
        <script>
            alert("please sign in first");
            location.href = "/";
        </script>
    }
}
<head>
    <title>Data Analytics - Summary</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="~/Content/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/elements.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="~/Content/compiled/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">

    <link rel="stylesheet" href="~/Content/compiled/signin.css" type="text/css" media="screen" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="index.html" style="margin-top: 20px;margin-left: 30px; font-size: 40px;">Data Analytics</a>

            <ul class="nav pull-right">
                <li class="hidden-phone">
                    <input class="search" type="text" />
                </li>
                <li class="notification-dropdown hidden-phone">
                    <a href="Signin">
                        Log out
                    </a>

                </li>

                <li class="dropdown">
                    <a href="Signin" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        Account...
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="Signin">Log in</a></li>
                        <li><a href="Signin">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- end navbar -->
    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="Index">
                    <i class="icon-home"></i>
                    <span>Summary</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-signal"></i>
                    <span>Detail</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-group"></i>
                    <span>Portfolio</span>
                </a>
            </li>


        </ul>
    </div>
    <!-- end sidebar -->
    <!-- main container -->
    <div class="content">

        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default skin</span>
            </a>
            <a href="#" class="skin second_nav" data-file="css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>
        <!--set search-->
        <div class="container-fluid">
            <div style="margin: 40px 100px -10px 20px;">
                <input type="text" placeholder="input a symbol" name="inputSymbol" style="margin-top:10px;" id="input_find" />
                <input class="btn-glow primary login" style="margin-left:20px" type="button" name="apply" value="apply" />

                <a style="margin-left:20px" href="https://finance.yahoo.com/">more information about this symbol</a>
            </div>
        </div>

        <!--set datatable-->
        <div class="container-fluid">


            <div id="pad-wrapper" class="summary">
                <table border="3" width="400" height="250" cellpadding="10" bordercolor="#305D7A">
                    <tr>
                        <td colspan="2"><label id="symbolName">apple</label></td>
                    </tr>
                    <tr>
                        <td>open&nbsp;:&nbsp;<label id="open">1</label></td>
                        <td>close&nbsp;:&nbsp;<label id="close">2</label></td>
                    </tr>
                    <tr>
                        <td>low&nbsp;:&nbsp;<label id="low">3</label></td>
                        <td>high&nbsp;:&nbsp;<label id="high">4</label></td>
                    </tr>
                    <tr>
                        <td>earnings&nbsp;:&nbsp; <label id="earnings">5</label></td>
                        <td>dividents&nbsp;:&nbsp;<label id="dividents">6</label></td>
                    </tr>
                </table>
                <input class="btn-glow primary login" style="margin-left:400px;display:inline;" type="button" name="Compare" value="Compare" />





            </div>
            <div><br />From <a href="#" title="team " target="_blank">C# Team 1</a></div>
            <!-- end table sample -->
        </div>
    </div>


    <!-- scripts -->
    <script src="~/Scripts/jquery-latest.js"></script>
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- knob -->
    <script src="~/Scripts/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.stack.js"></script>
    <script src="~/Scripts/jquery.flot.resize.js"></script>
    <script src="~/Scripts/theme.js"></script>


    <script src="~/Scripts/Util/summary.js"></script>
</body>